$background: rgb(194, 194, 194);
$primary: #8b2ff5;
$secondary: #42a80f;
$danger: #c72d2d;
$primary-dark: #6020a8;
$secondary-dark: #2e750b;
$danger-dark: rgb(126, 0, 0);
$text-light: #fff;
$text-dark: #000;
